<h2>Páginas</h2>
<hr>

<h3 class='mt-3'>Reactive Forms</h3>

<ul class='list-group'>
  <li *ngFor="let item of reactiveMenu"
      class="list-group-item"
      style="cursor: pointer"
      [routerLink]="[item.route]"
      routerLinkActive = 'active'
      >
    {{item.title}}
  </li>
</ul>

<h3> Validaciones</h3>
<ul class="list-group">
  <li *ngFor="let item of authMenu"
      class="list-group-item"
      style="cursor: pointer"
      [routerLink]="[item.route]"
      routerLinkActive="active">
      {{item.title}}
  </li>
</ul>
